[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
pipfile = "*"
toml = "*"


[dev-packages]

pytest = "*"
pytest-pythonpath = "*"
readme-renderer = "*"


[requires]

python_version = "3.6"
